.gdt-form-error {
	padding: 4px 6px;
}

.gdt-container.has-error {
	margin: 8px -8px;
	padding: 8px;
	border-radius: 8px;
	
	background-color: #fc9;
	animation-name: pulse-error;
	animation-duration: 4s;
	animation-iteration-count: 3;
}

@keyframes pulse-error {
  0% {
    background-color: #fc9;
  }
  50% {
    background-color: #f33;
  }
  100% {
    background-color: #fc9;
  }
}
