div.gdt-form-compact .gdt-container.has-error {
	background-color: #fc9; animation-name: pulse-error; animation-duration: 2.3s;
	animation-iteration-count: 5;
}

@keyframes pulse-error {
  0% {
    background-color: #fc9;
  }
  50% {
    background-color: #f33;
  }
  100% {
    background-color: #fc9;
  }
}
